body {
    background-color: #71BCBB;
    text-align:center;
    flex-wrap: wrap;
    text-shadow: solid  #4726da;
};

header{
    min-height: 20vh !important;
}

button {
    background-color:goldenrod !important;
    color: white;
    font-weight: bold;
    border-color: black;
}

